
.entete
{
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #6464686e;
  padding-top:  3px;
  padding-bottom: 3px;
  margin-top: 0px;
  font-family: sans-serif;


}

.entete h1 a:hover
{
  	padding: 26px 0px 26px 5px;
    border-top: 5px solid rgb(57, 176, 223);
  	background-color: rgba(57, 176, 223, 0.2);

}

#delete-button  /*bouton déconnection*/
{

  color: white;
  font-size: 25px;
  text-decoration: none;
  padding-left: 3%;
}
/*
#delete-button:hover
{
  color: rgb(122,228,232);
}
*/

.logo
{
  height: 80px;
}
