
.wrapper{
	margin-bottom: 90px;
}
.delete{

	background-color: white;
	color: #FFF	;
	border: 1px solid white;
}
.icone_capteur{
	width: 200px;
	height: 200px;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
	padding: 20px;
	border-radius: 20px;
	width: 320px;
	background-color: rgba(206, 205, 205, 0.973);
	margin-top: 7%;
	display: flex;
	justify-content: center;
	}

.row{
margin-bottom: 10px;
}
#button_submit{
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
}


/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus
{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

body{
background: url("../images/maison3.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}


#conteneur {
display: flex;
}

.conteneur_nom_piece{

	margin-left: 30%;
	margin-right: 30%;
	padding-top: 30px;
	padding-bottom: 30px;



}
.maison .nom_piece {
	font-size: 23px;
	font-weight: bolder;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(0, 117, 196, 0.89);
	border-radius: 3px;
	border: 2px solid rgba(0, 0, 0, 0.568);
	padding:15px;
	color: white;

	text-align: center;


}
.maison li{
   list-style-type: none;
   list-style-position: inside;

 }

.maison a{
display: inline-block;
text-decoration: none;
color: rgb(0, 0, 0);
 }

.maison{
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap : wrap
}

.graphes{
	display: inline-block;
}
.salon li{
list-style: none;


}

.salon .informations {
text-align: left;
float:left;
color: #FFF;
display: inline-block;
margin-right: 7%;
border: 1px solid white;
padding: 10px;


}
.salon .informations td {
vertical-align: baseline;

}
.salon .informations tr .label1 {

height: 30px;
}
.salon .informations tr .label2 {

height: 30px;

}
.salon .informations tr .label3 {


height: 30px;

	}
.salon{
border-radius: 20px;

padding-top: 10px;
padding-bottom:10px;
font-family: sans-serif, monospace, serif;
background-color: rgba(0, 0, 0, 0.952);
width: 45%;
max-width: 400px;
min-height: 200px;
margin-bottom:25px;

}


.ajouter_un_capteur{

border-radius: 20px;
color: #FFF;
font-size: 23px;
background-color: rgba(0,0,0,0.93);
width: 20%;
min-width: 250px;
min-height: 250px;

}

#plus_rouge{
width: 50px;
height: 50px;
margin-left: auto;
margin-right: auto;
}

body .maison ul li
{
						margin-top: 5%;
						margin-bottom: 5%;
						margin-left: 10%;
						margin-right: 10%;

						border-radius: 10px;
						padding-top: 5%;
						padding-bottom: 5%;
						padding-left: 2%;
						padding-right: 2%;
						color: white;
					}


/* The switch - the box around the slider */
.switch {
	  position: relative;
	  display: inline-block;
	  width: 84px;
	  height: 34px;
	  margin-left: 15px;
	}

	/* Hide default HTML checkbox */
	.switch input {display:none;}

	/* The slider */
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: rgb(202, 3, 3);
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: rgb(255, 255, 255);
	  -webkit-transition: .4s;
	  transition: .4s;
	}




	input:checked + .slider {
	  background-color: rgb(0, 201, 10);
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px rgb(0, 201, 10);
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(50px);
	  -ms-transform: translateX(50px);
	  transform: translateX(50px);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}
	.icone_capteur{
		padding:10px;
		margin-left: 15px;
	}

.text_cocher{
	color: white;
				}
