body
{
  background-image: url("../images/maison17.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  margin: 0px;

  font-family: sans-serif;

}

.graph script
{
  background-color: white;
}

.footer
{
  background-color: #64646881;
  text-align: center;
  padding-top:  3px;
  padding-bottom: 3px;
  margin-bottom: 0px;
  font-family: sans-serif;
}

.footer h3 a
{
  color: white;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
}

.footer h3 a:hover
{
  padding: 20px 5px 20px 5px;
  border-top: 5px solid rgb(57, 176, 223);
  background-color: rgba(57, 176, 223, 0.2);
}
