.wrapper{
	text-align: center;
	display: flex;
	flex-direction: column;	
	background-color: rgba(255, 255, 255, 0.918);
	margin-top: 5%;
	margin-bottom: 90px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

body{
	background-color: rgb(255, 255, 255);
	background: url("../images/maison20.jpg");
	background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
	font-family: sans-serif;

}
ul,li{
   list-style-type: none;
}
h2{
	padding-top:20px;
	padding-bottom:20px;
	

}

.line{
	margin-top:40px; 
	padding-top:40px;
	padding-bottom:20px;
	
	width: 50%;
	margin-right:auto;
	margin-left: auto;
	border-top: 1px solid black;   /* ligne entre les type */
}

/* Style the buttons that are used to open and close the accordion panel */
.question {
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(169, 218, 238);
	
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 20px;
    width: 90%;
    text-align: center;
   
    outline: none;
	transition: 0.4s;
	font-size: 17px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .question:hover {
    background-color:  rgb(123, 202, 233);
}

/* Style the accordion panel. Note: hidden by default */
.faq-answer {
	margin-left: auto;
	margin-right: auto;
	
	width:68%;
	padding:20px 5px 20px 5px;

    display: none;
	overflow: hidden;
	text-align: justify;
}

.typefin{
	margin-bottom: 50px;
}


