.wrapper{
	text-align: center;
	display: flex;
	flex-direction: column;	
	font-family: 'Sofia Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-top: 5%;
	margin-bottom: 90px;
	
}

body{
	background-color: rgba(218, 218, 218, 0.705)
}
ul,li{
   list-style-type: none;
}

.question{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	background-color:rgb(253, 253, 253);
	border: 2px solid rgb(160,160,160);
	padding-top: 20px;
	padding-bottom: 20px;

} 

.reponse{
	font-size: 0px;
	color: transparent;
}


div a{
	
	text-decoration: none;
	color: rgb(0,128,192);

}


.question:hover .reponse{
	margin-top: 8px;
	z-index: 2;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color:  rgb(255,255,255);
	color: black;
	font-size: 14px;

}

.question:hover {	
	padding-bottom:0px;
	;

}
