body
{
  margin: 0;
  padding: 0;
    background-image: url("../images/image_fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.InBox
{
  width: 340px;

  background: #000;
  color: #fff;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}


.avatar{
  width: 100px;
  height: 100px;
  margin-left: 100px;
  border-radius: 50%;  

}
h1
{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.Error
{
  text-align: center;
  color: red;

}

.InBox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.InBox input{
  width: 100%;
  margin-bottom: 20px;
}
.InBox input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;

}
.InBox input[type="submit"]
{
  border:none;
  outline:none;
  height:40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;

}
.InBox input[type="submit"]:hover{
  cursor:pointer;
  background: #ffc107;
  color: #000;

}

.InBox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.InBox a:hover{
  color: #ffc107;
}
