.wrapper{
	display: flex;
	flex-direction: column;	
	font-family: sans-serif,'Sofia Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-top: 5%;
	margin-bottom: 90px;
	
}


 p{
 	text-align: justify;
 	padding-left: 30px;
 	padding-right: 30px;
 
 }

 li{
 	text-align: left;
 	list-style-position: inside;
 	padding-left: 23px;
 }
 
 h2{
	 text-align: center;
 }

 h3,h4 {
 	text-align: left;
 	padding-left: 25px;

 }
 h4{
	 margin-top:45px;
 }
.article{
	width: 70%;
	margin-right:auto;
	margin-left:auto;
	background-color:#6464681a;
	border: 2px solid rgb(160,160,160);
	padding: 20px;
	margin-top: 25px;
}