.wrapper{
	margin-bottom: 90px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.supprimer_capteur{
	text-align: center;
	width: 100%;
	background-color:red;
	color: white;

	margin-top: 15px;
	padding: 15px 0px 15px;
	border-radius: 20px;

}
.supprimer_capteur:hover{
	background-color: orange;
}
.voir_capteurs{
	text-align: center;
	width: 100%;
	background-color:red;
	color: white;

	margin-top: 15px;
	padding: 15px 0px 15px;
	border-radius: 20px;

}
.voir_capteurs:hover{
	background-color: orange;
}
.modal-content {
	margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
	padding: 20px;
	border-radius: 20px;
	width: 320px;
	background-color: rgba(206, 205, 205, 0.973);
	margin-top: 7%;
	display: flex;
	justify-content: center;
	}

.row{
margin-bottom: 10px;
}
#button_submit{
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
}


/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus
{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

body{
background: url("../images/maison11.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}


#conteneur {
display: flex;
}

.conteneur_nom_maison{

	margin-left: 30%;
	margin-right: 30%;
	padding-top: 30px;
	padding-bottom: 30px;



}
.maison .nom_maison {
	font-size: 23px;
	font-weight: bolder;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(0, 117, 196, 0.89);
	border-radius: 3px;
	border: 2px solid rgba(0, 0, 0, 0.568);
	padding:15px;
	color: white;

	text-align: center;


}
.maison li{
   list-style-type: none;
   list-style-position: inside;

 }

.maison a{
display: inline-block;
text-decoration: none;
color: rgb(0, 0, 0);
 }

.maison{
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap : wrap
}
.salon li{
list-style: none;


}

.salon .informations {
text-align: left;
color: #FFF;

}
.salon .informations td {
vertical-align: baseline;



}
.salon .informations tr .label1 {
width : 80px;
height: 50px;
}
.salon .informations tr .label2 {
width: 85px;
height: 50px;

}

.salon{
border-radius: 20px;
padding-right: 45px;
padding-top: 10px;
padding-bottom:10px;
font-family: sans-serif, monospace, serif;
background-color: rgba(0, 0, 0, 0.952);
width: 20%;

min-width: 250px;
min-height: 250px;
margin-bottom:25px;

}

.salon .capteurs{
text-align: center;
width: 100%;
background-color:rgb(230,230,230);

margin-top: 15px;
padding: 15px 0px 15px;

}
.ajouter_une_piece{
border-radius: 20px;
color: #FFF;
font-size: 23px;
background-color: rgba(0,0,0,0.93);
width: 20%;
min-width: 250px;
min-height: 250px;

}

#plus_rouge{
width: 50px;
height: 50px;
margin-left: auto;
margin-right: auto;
}

.ajouter_un_utilisateur{
text-align: center;
width: 100%;
margin-top: 15px;
background-color:rgb(230,230,230);
padding: 15px 0px 15px;

}

body .maison ul li
{
						margin-top: 5%;
						margin-bottom: 5%;
						margin-left: 10%;
						margin-right: 10%;

						border-radius: 10px;
						padding-top: 5%;
						padding-bottom: 5%;
						padding-left: 2%;
						padding-right: 2%;
						color: white;
					}
