
body
{
  font-family: 'Sofia Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  background-color: #d1ccc0;
  background-image: url("../images/maison19.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;


}

.mySlides p
{
  text-indent: 15px;
  font-size: 16px;
  text-align: justify;
}

.mySlides h2
{
  display: inline;

}

.mySlides {

  padding: 25px;
  background-color: #fffffff6;
  border-radius: 5px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

}
.mySlides img{
  width: 100%;
}


/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  max-width: 1000px;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px ;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(211, 211, 211);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
