body
{
  background-image: url("../images/maison19.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  margin: 0px;
}



#content  /* contenu du bloc poster image*/
{
/*  display: flex;*/
  position: relative;
  background-color: rgba(0,0,0,0.9);
  border-radius: 10px;

  width: 24%;
  margin-left: 35%;
  margin-top: 5%;
  padding: 2%;
  color: white;

}

#content h3   /* titre du bloc poster image*/
{
  color: white;
  padding: 0px;
  margin: 2px;
}



#utilisateurs{
  display: none;
}


#entree
{
  display: flex;
  justify-content: space-around;
}

.tab  /*cadres noir redirigeant vers pages capteurs, utilisateurs et donnees*/
{
  text-align: center;
  background-color: rgba(0,0,0,0.9);
  border-radius: 10px;
  width: 13%;
  height: 20%;
  padding: 20px;
  text-decoration: none;
}

.tab h2
{
  color: white;
  text-decoration: none;
}

/* CSS CAPTEUR*/
.encadrement_capteur
{

  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(218,223,232,0.9);
  margin-left: 10%;
  width: 30%;
  padding: 5px;

}

#capteurs /*css du bouton capteur*/
{
  text-align: center;
  margin-left: 50%¨;
}


#form_capteur
{
display: none;

}

.ajout_capteur
{
  background-color: rgba(0,0,0,0.9);
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding:10px;
  margin-left: 10%;
  width: 50%;
}
h1
{
  color: white;
}
