
body
{
  
  background-color: #d1ccc0;

  background-image: url("../images/image_fond.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Sofia Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  background-position: top center;
  background-size: 100%;

  
}



p
{
  font-size: 13px;
  text-align: justify;
}

h2
{
  display: inline;
  padding-left: 10px;
}


.wrapper
{
  display: grid;

  grid-template-columns: repeat(3, 33%);
  margin: 0px;
  height: 100%;
  
  

}

.presentation1, .presentation2, .presentation3
{
  border-top:none;
  padding: 90px 20px 0px 20px ;
}

.presentation1{
  border-right: 5px solid white;
}
.presentation2{
  border-left: 5px solid white;
  border-right: 5px solid white;
}
.presentation3{
  border-left: 5px solid white;
  
}

.paragraphe1,.paragraphe2,.paragraphe3{
  background-color: rgba(255, 255, 255, 0.932);
  padding: 15px 15px 2px 15px;
}
.paragraphe2{
  margin-top: 140px;
}

.paragraphe3{
  margin-top: 140px;
}
.paragraphe1 img{
  border: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left: 5%; 
  opacity: 0.932; 
    
}
.paragraphe3 img{
  border: 1px solid #ddd;
  margin-bottom: 20px;
  opacity: 0.932; 
    width: 100%;
}

/*
.paragraphe
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  color: white;
  background-color: rgba(0, 0, 0,0.9);
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  box-shadow: 6px 6px 8px black;
}
*/
/*
.paragraphe1
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 100%;

  border-radius: 20px 0px 0px 20px;
  color: white;
  background-color: rgba(0, 0, 0,0.9);
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  box-shadow: 6px 6px 8px black;

}
*/
/*
.picture
{
  position: relative;
  height: 179px;
  width: 250px;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 6px 6px 8px black;

}
.picture1
{
  position: relative;
  height: 220px;
  width: 250px;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 6px 6px 8px black;
}

.picture2
{
  position: relative;
  height: 240px;
  width: 250px;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 6px 6px 8px black;
}
